<%= simple_form_for(@fuel_price) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :type %>
    <%= f.input :price %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
