<h1>Listing employees</h1>

<table>
  <thead>
    <tr>
      <th>Petrol pump station</th>
      <th>Name</th>
      <th>Joining date</th>
      <th>Position</th>
      <th>Salary</th>
      <th>Attendance</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @employees.each do |employee| %>
      <tr>
        <td><%= employee.petrol_pump_station %></td>
        <td><%= employee.name %></td>
        <td><%= employee.joining_date %></td>
        <td><%= employee.position %></td>
        <td><%= employee.salary %></td>
        <td><%= employee.attendance %></td>
        <td><%= link_to 'Show', employee %></td>
        <td><%= link_to 'Edit', edit_employee_path(employee) %></td>
        <td><%= link_to 'Destroy', employee, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Employee', new_employee_path %>
