<p id="notice"><%= notice %></p>

<p>
  <strong>Petrol pump station:</strong>
  <%= @customer.petrol_pump_station %>
</p>

<p>
  <strong>Name:</strong>
  <%= @customer.name %>
</p>

<p>
  <strong>Residence number:</strong>
  <%= @customer.residence_number %>
</p>

<p>
  <strong>Mobile number:</strong>
  <%= @customer.mobile_number %>
</p>

<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>
