<p id="notice"><%= notice %></p>

<p>
  <strong>Customer:</strong>
  <%= @vehicle.customer %>
</p>

<p>
  <strong>Number:</strong>
  <%= @vehicle.number %>
</p>

<p>
  <strong>Type:</strong>
  <%= @vehicle.type %>
</p>

<%= link_to 'Edit', edit_vehicle_path(@vehicle) %> |
<%= link_to 'Back', vehicles_path %>
