<%- model_class = Transactions -%>
<div class="page-header">
  <h1><%=t '.title', :default => Transactions %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th><%= model_class.human_attribute_name(:payment_mode) %></th>
      <th><%= model_class.human_attribute_name(:actual_total_price) %></th>
      <th><%= model_class.human_attribute_name(:tax) %></th>
      <th><%= model_class.human_attribute_name(:vat) %></th>
      <th><%= model_class.human_attribute_name(:date) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @transactions.each do |transactions| %>
      <tr>
        <td><%= transactions.id %></td>
        <td><%= transactions.payment_mode %></td>
        <td><%= transactions.actual_total_price %></td>
        <td><%= transactions.tax %></td>
        <td><%= transactions.vat %></td>
        <td><%= transactions.date %></td>
        <td><%=l transactions.created_at, format: :long %></td>
        <td>
          <%= link_to transactions_path(transactions), :class => 'btn btn-xs', :title => "#{ t('.show', :default => t('helpers.links.show')) }" do %>
            <%= glyph 'info-sign' %>
            <%= glyph 'pencil' %>
          <%- end -%>
          <%= link_to transactions_path(transactions), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs', :title => "#{ t('.destroy', :default => t('helpers.links.destroy')) }" do %>
            <%= glyph 'remove' %>
          <%- end -%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_transactions_path,
            :class => 'btn btn-primary' %>
