<p id="notice"><%= notice %></p>

<p>
  <strong>Customer:</strong>
  <%= @transaction.customer %>
</p>

<p>
  <strong>Payment mode:</strong>
  <%= @transaction.payment_mode %>
</p>

<p>
  <strong>Actual total price:</strong>
  <%= @transaction.actual_total_price %>
</p>

<p>
  <strong>Tax:</strong>
  <%= @transaction.tax %>
</p>

<p>
  <strong>Vat:</strong>
  <%= @transaction.vat %>
</p>

<p>
  <strong>Date:</strong>
  <%= @transaction.date %>
</p>

<%= link_to 'Edit', edit_transaction_path(@transaction) %> |
<%= link_to 'Back', transactions_path %>
